* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, h1, h2, p, img, small, ul, li, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

main {
  padding: 25px;
  width: 500px;
  margin: 200px auto;
  background-color: #096afb;
  border-radius: 6px;
  opacity: 0.9;
  box-shadow: 0px 0px 10px #77b2ff;;
}

#start, #reset {
  display: block;
  width: 100%;
  border: 0;
  background-color: #3c3c3c;
  height: 60px;
  font-size: 32px;
  text-align: center;
  padding: 3px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0 0 4px 4px;
  border-top: 3px solid #3c3c3c;
  border-bottom: 3px solid #3c3c3c;
  letter-spacing: 5px;
}

#reset {
  background-color: rgb(254, 29, 43);
  display: none;
  border-top: 3px solid rgb(254, 29, 43);
  border-bottom: 3px solid rgb(254, 29, 43);
}

#start:hover, #reset:hover {
  background-color: #797979;
  color: #ffffff;
  border-top: 3px solid #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
}

h1 {
  text-align: center;
  text-shadow: #6b6b6b; 1px 1px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: #3c3c3c;
  width: 100%;
  height: 250px;
  font-size: 200px;
  padding: 0px;
  line-height: 225px;
  letter-spacing: 2px;
  font-weight: 900;
}

#party {
  text-align: center;
  background-size: cover;
}

#party img {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 100px;
  color: #ffffff;
  font-weight: 600;
  padding: 40px 5px 30px 5px;
  letter-spacing: 15px;
  line-height: 52px;
  border-radius: 4px 4px 0 0;
  background-color: rgb(254, 29, 43);
  text-shadow: rgb(236, 27, 40) 1px 1px,
  rgb(236, 27, 40) 2px 2px,
  rgb(236, 27, 40) 3px 3px,
  rgb(236, 27, 40) 4px 4px,
  rgb(236, 27, 40) 5px 5px,
  rgb(236, 27, 40) 6px 6px,
  rgb(236, 27, 40) 7px 7px,
  rgb(236, 27, 40) 8px 8px,
  rgb(236, 27, 40) 9px 9px,
  rgb(236, 27, 40) 10px 10px,
  rgb(236, 27, 40) 11px 11px,
  rgb(236, 27, 40) 12px 12px,
  rgb(236, 27, 40) 13px 13px,
  rgb(236, 27, 40) 14px 14px,
  rgb(236, 27, 40) 15px 15px,
  rgb(236, 27, 40) 16px 16px,
  rgb(237, 27, 40) 17px 17px,
  rgb(238, 27, 40) 18px 18px,
  rgb(239, 27, 40) 19px 19px,
  rgb(240, 27, 40) 20px 20px,
  rgb(242, 27, 41) 21px 21px,
  rgb(243, 27, 41) 22px 22px,
  rgb(244, 27, 41) 23px 23px,
  rgb(245, 28, 41) 24px 24px,
  rgb(246, 28, 41) 25px 25px,
  rgb(248, 28, 42) 26px 26px,
  rgb(249, 28, 42) 27px 27px,
  rgb(250, 28, 42) 28px 28px,
  rgb(251, 28, 42) 29px 29px,
  rgb(252, 28, 42) 30px 30px,
  rgb(254, 29, 43) 31px 31px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hd {
  font-weight: 200;
  font-size: 52px;
  letter-spacing: 1px;
}

#dance {
  width: 500px;
  left: 50px;
  top: 100px;
  position: absolute;
  display: none;
  z-index: 99;
}

#dance2 {
  width: 100%;
  height: 100%;
  display: none;
  background-image: url('../img/dance2.gif');
  background-size: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -99;
}